h3 {
  width: 100%;
  text-align: center;
  color: #555;
  margin-bottom: 50px;
  font-size: 25px;
  border-bottom: 2px solid #55555538;
  padding: 20px 0;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  margin-top: 100px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 20px;
  color: #555;
  margin-bottom: 50px;
  font-size: 25px;
  border-bottom: 2px solid #55555538;
  padding: 20px 0;
}

.back-button {
  padding: 11px;
  border: none;
  border-radius: 13px;
  background-color: #566d9a;
  color: #fff;
  width: 99px;
  padding: 8px;
  margin-top: 25px;
  cursor: pointer;
}

.flight-number {
  color: #ffa600;
  font-weight: 800;
  font-size: 50px;
}

.status-text {
  padding: 13px;
  border-radius: 26px;
}

.status-text.success {
  color: #44c738;
  border: 1px solid #44c738;
}

.status-text.danger {
  color: #a87979;
  border: 1px solid #a87979;
}

.status-text.primary {
  color: #566d9a;
  border: 1px solid #566d9a;
}

.status-text.warning {
  color: #b59f67;
  border: 1px solid #b59f67;
}
